statemachines/order-questions.asl.json
{
    "Comment": "Questions Order",
    "StartAt": "MapState Order Questions",
    "States": {
        "MapState Order Questions": {
            "Type": "Map",
            "MaxConcurrency": 40,
            "Iterator": {
                "StartAt": "Update Question",
                "States": {
                    "Update Question": {
                        "Type": "Task",
                        "Resource": "${DDBUpdateItem}",
                        "Parameters": {
                            "TableName": "${TableName}",
                            "Key": {
                                "id": {
                                    "S": "QUESTION"
                                },
                                "sort": {
                                    "S.$": "$.idQuestion"
                                }
                            },
                            "ExpressionAttributeNames":{
                                "#order": "order"
                            },
                            "ExpressionAttributeValues":{
                                ":order": {
                                    "N.$": "States.Format('{}', $.order)"
                                }
                            },
                            "UpdateExpression":"SET #order=:order"
                        },
                        "End": true
                    }
                }
            },
            "Catch": [ {
                "ErrorEquals": [ "States.ALL" ],
                "Next": "Error State"
               
             } ],
             "ResultPath": null,
             "Next": "Sucess State"
        },
        "Sucess State":{
            "Type": "Pass",
            "Result": true,
            "End": true
        },
        "Error State":{
            "Type": "Pass",
            "Result": false,
            "End": true
        }
    }
}